<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>total files in your repositary</h2>
<select name="branch" id="branch">
{% for each in branch %}
<option value="{{each}}">{{each.name}}<br></option><br>
{% endfor %}
    </select><br>
<!--{{list}}<br>-->
{% for each in list %}
{{each.name}}<br>
{% endfor %}
</body>
</html>
<a href="/git/{{repo.name}}/create_branch">Create new branch</a><br>
<a href="/git/{{repo.name}}/create_file">upload new file</a><br>
<a href="/git/{{repo.name}}/pull">Create pull request</a><br>
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>