<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> create branch for {{name}}</h2>
{{name}}
{% for each in repo %}
{{each.name}}
{% endfor %}

<form action="/git/{{name}}/save_branch/" method="post">
    {% csrf_token %}
    source branch : <select name="branch" id="branch"><br>
    {% for branch in branch %}<br>
    <option value="{{branch.name}}">{{branch.name}}</option><br>
    {% endfor %}<br></select><br>
    branch name: <input type="text" name="new_branch"><br>
    <input type="submit" value="create branch">
</form>


<a href="/git/{{name}}/details/">back</a>
</body>
</html>