<form action="/git/{{name}}/save_merge/" method="post" enctype="multipart/form-data>">
  {% csrf_token %}
     source_branch: <select name="source_branch" id="source_branch">
    {% for branch in branches %}
  <option value="{{branch.name}}">{{branch.name}}</option>
    {% endfor %}
  </select><br>
  target_branch : <select name="target_branch" id="target_branch"><br>
    {% for branch in branches %}
  <option value="{{branch.name}}">{{branch.name}}</option>
    {% endfor %}
  </select><br>
<input type="submit" value="merge">
</form>
<a href="/git/{{name}}/details/">back</a><br>
